__init__.py
*.pyc
.*.swp
.#*
#*#
*~


InputFiles
selections
ZeeYmmAnalyzer/dataSubmit/**/crab_TTree_13TeV*/inputs/
ZeeYmmAnalyzer/dataSubmit/**/crab.log
ZeeYmmAnalyzer/dataSubmit/**/*.gz
ZeeYmmAnalyzer/dataSubmit/**/.requestcache